# .gitignore

**/node_modules
*.bak
2017/public/**
**/*.csv
**/*.tab
**/*.docx
**/*.pdf
**/*.xls*
**/*.xz
supervisord.log
supervisord.pid
prototyping
**/configs

SquareSpace/output/*
!SquareSpace/blanks/*

Square/square_report_*.txt